name: Deploy to GitHub Pages

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
          
      - name: Publish
        run: dotnet publish SnowDayPredictor.csproj -c Release -o release --nologo
        
      - name: Change base tag
        run: |
          $file = "release/wwwroot/index.html"
          $content = Get-Content $file -Raw
          $content = $content -replace '<base href="/" />', '<base href="/snow-day-predictor/" />'
          Set-Content $file -Value $content -NoNewline
        shell: pwsh
        
      - name: Add .nojekyll
        run: touch release/wwwroot/.nojekyll
        
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: release/wwwroot